server:
  port: 8087
  servlet:
    context-path: /api/orders

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5440/order_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin123

jwt:
  secret: your-super-secret-key-change-this-in-production-min-256-bits-long

services:
  catalog-url: http://localhost:8085/api/catalog
  cart-url: http://localhost:8086/api/cart
  balance-url: http://localhost:8084/api/balance

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html